@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <section class="theater" id="theater">
        <h2 class="heading-theater">Theaters</h2>

        <div class="theater-container">

            <div class="box">
                <div class="box-img">
                    <a href="@Url.Action("booking","Home", new {id=1,MovieName="Bir Delinin Hatıra Defteri",Price=45})"><img src="~/images/t-1.jpg" /></a>


                </div>
                <div class="movie-text">
                    <h3>Bir Delinin Hatıra Defteri</h3>
                    <span>60 min | Tragedy/Drama</span>
                </div>
            </div>
            <div class="box">
                <div class="box-img">
                    <a href="@Url.Action("booking","Home", new {id=2,MovieName="Caligula",Price=35})"><img src="~/images/t-2.jpg" /></a>


                </div>
                <div class="movie-text">
                    <h3>Caligula</h3>
                    <span>70 min | Income</span>
                </div>
            </div>
            <div class="box">
                <div class="box-img">

                    <a href="@Url.Action("booking","Home", new {id=3,MovieName="Aşkın En Kısa Gecesi",Price=65})"><img src="~/images/t-3.jpg" /></a>

                </div>
                <div class="movie-text">
                    <h3>Aşkın En Kısa Gecesi</h3>
                    <span>80 min | Comedy</span>
                </div>
            </div>
            <div class="box">
                <div class="box-img">
                    <a href="@Url.Action("booking","Home", new {id=4,MovieName="Piraye",Price=25})"><img src="~/images/t-4.jpg" /></a>


                </div>
                <div class="movie-text">
                    <h3>Piraye</h3>
                    <span>70 min | Tragedy/Drama</span>
                </div>
            </div>
            <div class="box">
                <div class="box-img">
                    <a href="@Url.Action("booking","Home", new {id=5,MovieName="Haybeden Gerçeküstü Aşk",Price=40})"><img src="~/images/t-5.jpg" /></a>


                </div>
                <div class="movie-text">
                    <h3>Haybeden Gerçeküstü Aşk</h3>
                    <span>120 min | Comedy</span>
                </div>
            </div>
            <div class="box">
                <div class="box-img">
                    <a href="@Url.Action("booking","Home", new {id=6,MovieName="Korkuyu Beklerken",Price=60})"><img src="~/images/t-6.jpg" /></a>


                </div>
                <div class="movie-text">
                    <h3>Korkuyu Beklerken</h3>
                    <span>120 min | Tragedy/Drama</span>
                </div>
            </div>
            <div class="box">
                <div class="box-img">

                    <a href="@Url.Action("booking","Home", new {id=7,MovieName="Yaşamaya Dair",Price=85})"><img src="~/images/t-7.jpg" /></a>

                </div>
                <div class="movie-text">
                    <h3>Yaşamaya Dair</h3>
                    <span>90 min | Tragedy/Drama</span>
                </div>
            </div>
            <div class="box">
                <div class="box-img">
                    <a href="@Url.Action("booking","Home", new {id=8,MovieName="12. Gece",Price=75})"><img src="~/images/t-8.jpg" /></a>


                </div>
                <div class="movie-text">
                    <h3>12. Gece</h3>
                    <span>110 min | Comedy</span>
                </div>
            </div>

            <div class="box">
                <div class="box-img">
                    <a href="@Url.Action("booking","Home", new {id=9,MovieName="1984 - Büyük Gözaltı",Price=65})"><img src="~/images/t-10.jpg" /></a>



                </div>
                <div class="movie-text">
                    <h3>1984 - Büyük Gözaltı</h3>
                    <span>105 min | Tragedy/Drama</span>
                </div>
            </div>
            <div class="box">
                <div class="box-img">
                    <a href="@Url.Action("booking","Home", new {id=10,MovieName="Madonna Kürk Mantolu",Price=15})"><img src="~/images/t-11.jpg" /></a>



                </div>
                <div class="movie-text">
                    <h3>Kürk Mantolu Madonna </h3>
                    <span>100 min | Tragedy/Drama </span>
                </div>
            </div>

        </div>



    </section>

</div>

